**.obsidian
**.aux
**.toc
**.log
**.out
***bin
**include
**lib
**lib64
**pyvenv.cfg
**share
**__pycache__
**.fdb_latexmk
**.fls
**.synctex.gz
**.bbl
**.bcf
**.blg
**.run.xml
**.tex.bbl
**.tex.blg
**.lof
**.lot
